<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :contenido, style: "display: block" %>
    <%= form.text_field :contenido %>
  </div>

  <div>
    <%= form.label :Imagen, style: "display: block" %>
    <%= form.file_field :imagen %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :likes, value: 0 %>
  <%= form.hidden_field :num_comentarios, value: 0 %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
